* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

ul, li {
    list-style-type: none;
}

header, main, footer, div, section, a, img, button, hs-field, input {
    display: block;
}

a {
    outline: none;
    text-decoration: none;
    user-select: none;
}

span {
    display: inline-block;
}

img {
    color: transparent;
    user-select: none;
}

input, button {
    border: none;
}

input:focus, button:focus {
    outline: none;
}
