/* Fonts */
$font-family: "Lato", sans-serif;

/* Font Styles */
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

/* Colors */
$red:           #db4c3f;
$orange:        #e29600;
$brown:         #b68f6f;
$blue:          #2c8dec;
$green:         #5fa004;
$purple:        #887daf;

/* SVG Icons */
